body{
    background-color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}

.titulo{
    color: white;
    padding: 0px;
    margin: 0px;
    text-align: left;
    font-weight: bold;
}

.subtitulo{
    color: white;
    padding: 0px;
    margin: 0px;
    text-align: left;
    font-weight: 900;
}

.paragrafo{
    color: white;
    padding: 0px;
    margin: 0px;
}